<!-- 
    We re using     
    <%= type%> ? (Забыл, зачем он)
    <%= date%>
    <%= company>
    <%= company2>
    <%= fio%>
    <%= fio2%>
    <%= osn%>
    <%= osn2>
    <%= square>
    <%= address%> 
    Вроде бы все.
-->

<!-- BEGINNING -->
<div class="padding">
        <div class="news_block">
            <div class="container-fluid white_block">
                <form class="contract_wrap">
                    <div class="long_elem"><h1 class="contract_header">Договор</h1></div>
                    <div class="short_elem_left"><p>г. Москва</p></div>
                    <div class="short_elem_right placing_right"><%= date%></div>
                    <br/>
                    <div class="text_elem">
                        <p>
                                <%= company%>, именуемое в дальнейшем "СТОРОНА 1", в лице <%= fio%>, действующее на основании <%= osn%> с одной стороны и <%= company2%>, именуемое в дальнейшем "СТОРОНА 2" в лице <%= fio2%>, действующее на основании <%= osn2%>, с другой стороны, а вместе "СТОРОНЫ" заключили Договор о нижеследующем:
                        </p>
                    </div>
                    <div class="long_elem">
                        <h2 class="contract_header_mini">1. Предмет Договора</h2>
                    </div>
                    <div class="text_elem">
                        <p>
                            1.1. Стороны обязуются Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit quaerat aperiam corrupti, est voluptatibus repellendus quae earum consectetur, minima iure facilis! In libero natus rem, tempore voluptatum nihil officiis sed?
                        </p>
                    </div>
                    <div class="long_elem">
                        <h2 class="contract_header_mini">2. Обязательства сторон</h2>
                    </div>
                    <div class="text_elem">
                        <p>
                            2.1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, in rem! Quia officia a neque accusamus iste, eius earum libero totam, nostrum deleniti excepturi? Unde quidem doloremque dolorum sed ullam.
                            <br/>
                            2.2. Сторона 1 обязуется:
                            <ul>
                                <li>Оказывать ...</li>
                                <li>Выделить сторогне два необходимое помещение площадью <%= square%> кв. м. в здании, расположенном по адресу <%= address%> для успешной реализации задач, вытекающих из настоящего договора.</li>
                                <li>Решать иные задачи Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quidem sunt voluptatibus praesentium repellendus sint asperiores suscipit quos aut aliquid vero, corporis tempore! Labore ipsa corporis tenetur molestias quaerat exercitationem?</li>
                            </ul>
                        </p>
                    </div>
                    <div class="long_elem">
                        <h2 class="contract_header_mini">3. Ведение общих дел</h2>
                    </div>
                    <div class="text_elem">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sint dicta modi quos debitis! Sapiente sint aliquam consectetur, reprehenderit natus repudiandae non nemo fugiat corporis ipsum dignissimos! Ratione, qui at!
                    </div>
                    <div class="short_elem_right placing_right">
                        <p>Подпись 1 : _______________</p>
                        <p>Подпись 2 : _______________</p>
                        <br>
                    </div>
                    <div class="long_elem">
                        <input type="submit" value = "Подтвердить">
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>